 <!-- About Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2>A native Californian </h2>
                    <img src="img/portfolio/nosleeves.jpg" class="img-responsive">
                </div>
                <div class="col-lg-4">
                    <p>who grew up in Orange County with an enthusiastic life-long passion for water, effective water policy, and public health. She has devoted her life and countless volunteer hours to the future of water and the community. Megan has more than 16 years of professional and association experience, including serving on four boards of directors. (Municipal Water District of Orange County [2016-Present], California Water Environment Association [2020-Present and 2013-2016], and the Santa Ana River Basin Section of CWEA [2009-2016])</p>
                    <p>Megan possesses a B.S. in Chemical Engineering with a Specialization in Environmental Engineering and an M.S. in Engineering with a Concentration in Environmental Engineering. Megan is a California-licensed professional civil engineer.</p>
                </div>
                <div class="col-lg-4">
                    <p> Megan is a dedicated member and leader within a number of organizations, including the Water Environment Federation, American Water Works Association, and California Water Environment Association. She has received numerous awards and accolades for her public outreach efforts and water-related research and is devoted to ensuring the future of local, reliable water supplies for Orange County.</p> 

                    <p>Megan’s priorities at MWDOC include ensuring long term availability of sustainable, safe, and affordable water for our community. Megan is a passionate, knowledgeable, and dedicated public servant who will truly serve her community’s residents, business owners, non-profit organizations, and public officials as MWDOC Division 7 Director.</p>
                </div>
                
			</div>
        </div>
    </section>
