 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Megan</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Megan Yoo Schneider is a native Californian and grew up in Orange County. She is an enthusiastic individual with a life-long passion for water and public health.</p>
                </div>
                <div class="col-lg-4">
                    <p> She has devoted her life and countless volunteer hours to the future of water and community service</p>
                </div>
			</div>
        </div>
    </section>
