 <!-- About Section -->
    <section class="success" id="vote">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>MWDOC Divison 7</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Vote for Megan Yoo Schneider to continue to serve as the Division 7 Director on the Municipal Water District of Orange County (MWDOC) Board of Directors. Division 7 includes Aliso Viejo, Dana Point, Laguna Niguel, Laguna Hills, San Clemente, Mission Viejo, Laguna Beach, and San Juan Capistrano.</p>
                </div>
                <div class="col-lg-4">
                    <p> Retail water agencies in the MWDOC Division 7 area include Emerald Bay Services District, Laguna Beach County Water District, Moulton Niguel Water District, Santa Margarita Water District, and South Coast Water District..</p>
                </div>
			</div>
        </div>
    </section>
