 <!-- About Section -->
    <section class="success">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8">
                                                    <ul>
  <li>
    <p>Advisory board member for Breakthrough San Juan Capistrano, a program that strives to break the cycle of poverty through the power of education</p>
  </li>
  <li>
    <p>Ministry volunteer leader for the Saddleback Church PEACE Initiative for Vulnerable Children</p>
  </li>
  <li>
    <p>Master Teacher Training Program graduate and Spiritual Maturity CLASS Teacher at Saddleback Church</p>
  </li>
  <li>
    <p>Trust Based Relational Intervention Practitioner (On-line coursework completed, awaiting in-person training)</p>
  </li>
  <li>
    <p>Member of the Teen Court Collaborative Steering Committee, a partnership with the Orange County Social Services 
Administration to support teenage foster youth in the county</p>
  </li>
  <li>
    <p>Voting member on the National Science Foundation (NSF) Joint Committees on Drinking Water Additives (System Components and Treatment Chemicals)</p>
  </li>
  <li>
    <p>Chair of the Water Environment Federation (WEF) Public Communications and Outreach Committee</p>
  </li>
  <li>
    <p>Serves on the WEF Workforce Diversity and Inclusion Task Force</p>
  </li>
  <li>
    <p>Vice President of the California Water Environment Association(CWEA)Board of Directors</p>
  </li>
  <li>
    <p>Past President of the Santa Ana River Basin Section of CWEA</p>
  </li>
  <li>
    <p>Organizes the ad hoc Women in Water group in Orange County, which has also inspired the creation of additional groups in the Inland Empire and in San Diego County.</p>
  </li>
  <li>
    <p>Regular presenter and invited speaker for various professional association conferences and workshops</p>
  </li>
</ul>
                </div>
                <div class="col-lg-4">
                    <h2>Community Involvement</h2>
                    <img src="img/portfolio/carrots2.jpg" class="img-responsive">
                </div>
                
                
            </div>
        </div>
    </section>