 <!-- About Section -->
    <section class="success">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                    <h3>Community Involvement</h3>
                    <img src="img/portfolio/carrots2.jpg" class="img-responsive img-rounded">
                </div>
                
                <div class="col-md-8 col-md-pull-4">
                    <ul>
                     <li><p>Advisory board member for Breakthrough San Juan Capistrano, a program that strives to break the cycle of poverty through the power of education</p></li>
                     <li><p>Ministry volunteer leader for the Saddleback Church PEACE Initiative for Vulnerable Children</p>
                     </li>
  <li>
    <p>Master Teacher Training Program graduate and Spiritual Maturity CLASS Teacher at Saddleback Church</p>
  </li>
  <li>
    <p>Trust Based Relational Intervention Practitioner (On-line coursework completed, awaiting in-person training)</p>
  </li>
  <li>
    <p>Member of the Teen Court Collaborative Steering Committee, a partnership with the Orange County Social Services 
Administration to support teenage foster youth in the county</p>
  </li>
  <li>
    <p>Voting member on the National Science Foundation (NSF) Joint Committees on Drinking Water Additives (System Components and Treatment Chemicals)</p>
  </li>
  <li>
    <p>Chair of the Water Environment Federation (WEF) Public Communications and Outreach Committee</p>
  </li>
  <li>
    <p>Serves on the WEF Workforce Diversity and Inclusion Task Force</p>
  </li>
  <li>
    <p>Vice President of the California Water Environment Association(CWEA)Board of Directors</p>
  </li>
  <li>
    <p>Member of the Association of California Water Agencies Water Quality Committee</p>
  </li>
  <li>
    <p>Past President of the Santa Ana River Basin Section of CWEA</p>
  </li>
  <li>
    <p>Member of the South Orange County Watershed Management Area Executive Committee</p>
  </li>
  <li>
    <p>Member of the Water UCI Leadership Advisory Board</p>
  </li>
  <li>
    <p>Graduate of the Inaugural Class of the Wate Leadership Institute (2012)</p>
  </li>
  <li>
    <p>Talent for the UNLEASH Innovation Lab for developing solutions for the United Nations Sustainable Development Goal 6: Clean Water and Satitation (2017)</p>
  </li>
  <li>
    <p>Organizes the ad hoc Women in Water group in Orange County, which has also inspired the creation of additional groups in the Inland Empire and in San Diego County.</p>
  </li>
  <li>
    <p>Co-Author of several Water Environment Federation Manual of Practice</p>
  </li>
  <li>
    <p>Regular presenter and invited speaker for various professional association conferences and workshops</p>
  </li>
</ul>
</br>
                </div>
				<div>
				</br>
				<h4>Leadership Roles</h4>
				</br>
				<ul>
				<li>CWEA Board of Directors and Vice President, 2013-2016, 2020-Present</li>
				<li>SARBS Board of Directors, 2010-2016 (President, 2014-2015)</li>
				<li>CWEA Annual Conference Opening Session Chair, 2019</li>
				<li>CWEA Annual Conference Technical Program Co-Chair, 2015 and 2016</li>
				<li>CWEA Annual Conference Planning Committee, 2009-2016</li>
				<li>CWEA Kirt Brooks Scholarship Committee Chair, 2015-Present</li>
				<li>WEF Committee Leadership Council, 2011-Present</li>
				<li>WEF Public Communications and Outreach Committee Chair, 2018-Present</li>
				<li>WEF Stockholm Junior Water Prize Committee Chair, 2014-2017</li>
				</ul>
				</div>
            </div>
        </div>
    </section>