 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
					<h2></h2>
                    <p>  "Director Schneider has represented the customers of the South Coast Water District on the most important Water Reliability Issues calling for responsible and local water sources including the Regional Doheny Ocean Desalination Project."</p>
					<h3>- Director Bill Green, SCWD</h3>
                </div>
				<div class="col-lg-4">
					<h2></h2>
                    <p>“Megan exemplifies servant leadership in her dedication to the community. Her support as an advisory board member for Breakthrough San Juan Capistrano has been instrumental. Breakthrough SJC is a program focused on supporting low-income students’ graduate college with a vision to break the cycle of poverty. Because of Megan, we have developed several external partnerships that have helped feed our families during the COVID-19 pandemic. Because of her, we’ve created an internship program that will help local students find jobs after college. She’s an invaluable asset to Breakthrough SJC, our students, families, and our entire community. “</p>
					<h3>- Alex Serna, Executive Director of Breakthrough San Juan Capistrano</h3>
                </div>
				<div class="col-lg-4">
					<h2></h2>
                    <p>  “Megan is one of the hardest working, most dedicated elected officials that I have ever met.” </p>
					<h3>- Dennis Erdman, PE, President, SCWD</h3>
                </div>
				
			</div>
        </div>
    </section>
