 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
					<h2>Don Froelich</h2>
                    <p>  endorses Megan Schneider because she doesnt lie about her qualifications and is kind to people</p>
                </div>
				<div class="col-lg-4">
					<h2>Don Froelich</h2>
                    <p>  endorses Megan Schneider because she doesnt lie about her qualifications and is kind to people</p>
                </div>
				<div class="col-lg-4">
					<h2>Don Froelich</h2>
                    <p>  endorses Megan Schneider because she doesnt lie about her qualifications and is kind to people</p>
                </div>
			</div>
        </div>
    </section>
