 <!-- About Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-2 mx-auto text-center">
                    <img class="img-seal" src="img/sc.png">
                </div>
                <div class="col-md-2 mx-auto text-center">
                    <img class="img-seal" src="img/oclcv.png">
                </div>
                <div class="col-md-8">
                    <p>I am extremely grateful for the support of the <a href="https://angeles.sierraclub.org/political_action/endorsements">Sierra Club</a> and the <a href="https://www.facebook.com/OCLCV">Orange County League of Conservation Voters</a> who are committed to continuing to help protect California's air, water, and wild places.</p>
                </div>
			</div>
        </div>
    </section>
