 <!-- About Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 mx-auto text-center">
                    <!--h3>A native Californian </h3-->
                    <img class="img-seal" src="img/sc.png">
                </div>
                <div class="col-md-8">
                    <p><a href="https://angeles.sierraclub.org/political_action/endorsements">Proudly endorsed by the Sierra Club</a> for a proven track record on environmental issues and strong support for the environment. Committed to continuing to help protect California's air, water, and wild places.</p>
                </div>
			</div>
        </div>
    </section>
