 <!-- About Section -->
    <section id="support">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Special Thanks to </h4>
                    <hr class="star-primary">
                </div>
			</div>
			<div class="row">
                <div class="col-lg-6 text-center">
			    <ul class="list-unstyled">
				    <li><h4>Alex Serna</h4><em>Executive Director, Breakthrough San Juan Capistrano</em></li></br>
                    <li><h4>Betty Olson, PhD</h4><em>President, Santa Margarita Water District</em></li></br>
                    <li><h4>Bill Green</h4><em>Director, South Coast Water District</em></li></br>
                    <li><h4>Bill Moorhead, PE</h4><em>Director, Moulton Niguel Water District and Executive Committee Member, South Orange County Watershed Management Area</em></li></br>
					<li><h4>Bob Whalen</h4><em>Mayor, City of Laguna Beach and President, Laguna Beach County Water District, and Executive Commitee Member, South Orange County Watershed Management Area</em></li></br>
                    <li><h4>Carol Moore</h4><em>Councilmember, City of Laguna Woods and Executive Committee Member, South Orange County Watershed Management Area</em></li></br>
                    <li><h4>Chuck Gibson</h4><em>Vice President, Santa Margarita Water District</em></li></br>
                    <li><h4>Dennis Erdman, PE</h4><em>President, South Coast Water District and Chairman, South Orange County Watewater Authority</em></li></br>
                    <li><h4>Don Froelich</h4><em>Vice President, Moulton Niguel Water District</em></li></br>
					<li><h4>Doug Erdman, PE</h4><em>Director, South Coast Water District and Executive Committee Member, South Orange County Watershed Management Area</em></li></br>
					<li><h4>Doug Reinhart</h4><em>Vice President, Irvine Ranch Water District</em></li></br>
                    <li><h4>Duane Cave</h4><em>Vice President, Moulton Niguel Water District</em></li></br>
					<li><h4>Glenn Acosta</h4><em>Director, Trabuco Canyon Water District</em></li></br>
                    <li><h4>John Taylor</h4><em>Mayor Pro Tem, City of San Juan Capistrano</em></li></br>
					<li><h4>John Withers</h4><em>Director, Irvine Ranch Water District</em></li></br>
                    <li><h4>Justin McCusker</h4><em>Director, Santa Margarita Water District</em></li></br>
                    <li><h4>Kay Havens</h4><em>Director, El Toro Water District</em></li></br>
                    <li><h4>Larry Dick</h4><em>Director, Municipal Water District of Orange County and Director, Metropolitan Water District of Southern California</em></li></br>
                </ul>
                </div>
            <div class="row">
                <div class="col-lg-6 text-center">
                <ul class="list-unstyled">
                    <li><h4>Laura Freese</h4><em>Former Councilmember and Person of the Year, City of San Juan Capistrano</em></li></br>
                    <li><h4>Linda Ackerman</h4><em>Vice-Chair, Metropolitan Water District of Southern California</em></li></br>
                    <li><h4>Lisa A. Bartlett</h4><em>5th District Supervisor, County of Orange and Executive Committee Member, South Orange County Watershed Management Area</em></li></br>
					<li><h4>Mary Aileen Matheis</h4><em>President, Irvine Ranch Water District and Executive Committee Member, South Orange County Watershed Management Area</em></li></br>
					<li><h4>Mary Jane Foley</h4><em>Former San Diego Regional Water Quality Control Board Member</em></li></br>
					<li><h4>Peer Swan</h4><em>Director, Irvine Ranch Water District</em></li></br>
					<li><h4>Peter Blake</h4><em>Councilmember, City of Laguna Beach and Director, Laguna Beach County Water District</em></li></br>
                    <li><h4>Rick Erkeneff</h4><em>Vice President, South Coast Water District and Executive Committee Member, South Orange County Watershed Management Area</em></li></br>
					<li><h4>Ross Chun</h4><em>Councilmember, City of Aliso Viejo</em></li></br>
					<li><h4>Sat Tamaribuchi</h4><em>President, Municipal Water District of Orange County, and Director, Metropolitan Water District of Southern California</em></li></br>
                    <li><h4>Saundra Jacobs</h4><em>Director, Santa Margarita Water District and Executive Committee Member, South Orange County Watershed Management Area</em></li></br>
                    <li><h4>Stephen Dopudja</h4><em>Director, Trabuco Canyon Water District</em></li></br>
					<li><h4>Steve Dicterow</h4><em>Mayor Pro Tem, City of Laguna Beach and Vice President, Laguna Beach County Water District</em></li></br>
					<li><h4>Steve LaMar</h4><em>Director, Irvine Ranch Water District</em></li></br>
					<li><h4>Susan Hinman</h4><em>Former Division 7 Director, Municipal Water District of Orange County</em></li></br>
                    <li><h4>Tiffany Ackley</h4><em>Mayor Pro Tem, City of Aliso Viejo and Executive Committee Vice Chair, South Orange County Watershed Management Area</em></li></br>
					<li><h4>Troy Bourne</h4><em>Mayor, City of San Juan Capistrano</em></li><br/>
                    <li><h4>Wayne Rayfield</h4><em>Director, South Coast Water District</em></li></br>
				</ul>
			</div>
        </div>
    </section>
