 <!-- About Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>A passion for water</h3>
                    <img src="img/portfolio/water2.jpg" class="img-responsive img-rounded">
                </div>
                <div class="col-md-4">
                    <p>She was always in the water – whether it be at the pool or at the beach, and when MWDOC’s Ricki the Rambunctious Raindrop came to visit her elementary school, she fell in love. She began to incorporate water and public health issues into her science fair projects starting in elementary school. In high school, she won several notable awards, including being named California’s Most Outstanding Young Scientist by the California Association of Professional Scientists and a two-time state winner of the Stockholm Junior Water Prize, the most prestigious award for high school science fair projects in water.</p>
                </div>
                <div class="col-md-4">
                    <p> Her research was not only published, but she also found her tribe. She started her career working in the public sector, and since then, she’s worked in both the public and private sectors focused on water, public health, and the environment. Today, Megan not only serves on the MWDOC board, but she is involved in a number of professional associations, including serving as the Vice President of the California Water Environment Association. She is also President of Seven Management and Consulting, Inc., which specializes in utility management and business strategy. </p>
 
                    <p>Megan has a life-long passion and appreciation for water, and she’s always excited about paying it forward in as many ways as possible.</p>
                </div>
            </div>
        </div>
    </section>