<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include sierra.html %}
	{% include about.html %}
    {% include about-more.html %}
    {% include community.html %}
    {% include water.html %}
    {% include endorse.html %}
    {% include support.html %}
    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include js.html %}
    </body>
</html>